ACIT 1630 Database Systems/Database Systems/Data Files/XML/CH15/pricewatch.dtd

<!ELEMENT Pricewatchdata (Pricewatch+)>
<!ELEMENT Pricewatch (PW_ID,PW_DATE,CUS_ID?,PW_CUS_NAME,PW_CUS_EMAIL,PW_ENDATE,PROD_ID,
 PW_LOWPRICE)>
<!ELEMENT PW_ID (#PCDATA)>
<!ELEMENT PW_DATE (#PCDATA)>
<!ELEMENT CUS_ID (#PCDATA)>
<!ELEMENT PW_CUS_NAME (#PCDATA)>
<!ELEMENT PW_CUS_EMAIL (#PCDATA)>
<!ELEMENT PW_ENDATE (#PCDATA)>
<!ELEMENT PROD_ID (#PCDATA)>
<!ELEMENT PW_LOWPRICE (#PCDATA)>